@model IEnumerable<Vidly2.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table">
    <tr><th>Customer </th><th>Membership Type</th></tr>

    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Edit", new { id = customer.Id }, null)
            </td>
            <td> @customer.MembershipType.Name</td>
        </tr>
    }
</table>

